.home-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-card-bg {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-nav {
  text-decoration: none;
  color: black;
}